/* da fungerer koden */

html {
    scroll-behavior: smooth;
}
body {
    margin:0;
    padding: 0;
    background-color: rgb(41,43,53);
    font-family: Lato, Times, serif;
}
/* ----- text styles ---------- */

h1 {
    color:rgb(216,218,221);
}

/* --------------  her begynner nav ------------- */

nav {
    background-color: rgb(55,72,95);
}

nav .logo-link {
    display: inline-block; /* Sikrer at lenken tilpasser seg størrelsen bildet */
}

nav .logo {
    width: clamp(100px, 25vw, 300px); /* vw bestemmer hvor raskt bildet skalerer */
    margin: 0 10px 0 0;
}


/* små bilder logo js html osv.. */
.tech-container{
    display: flex;
    flex-direction: row;
    align-items:center;
    padding-right:1rem;
}
nav .tech-container img {
    width: clamp(30px, 5vw, 40px);
    height:auto;
    margin:0 5px 0 0;
} 
nav .nav-container {
    display: flex;
    justify-content: space-between;
}

nav h3 {
    color:white;
    letter-spacing:2px;
    margin: 0 30px 0 0;
}


nav .menu-container {
    display:flex;
    align-items: center;
    padding: 20px;
    width:100%;
}

nav .nav-links {
    width: 100%;
    text-align: center;
}

nav .nav-link {
    color: rgb(216,218,221);
    font-size:x-large;
    text-decoration: none;
    padding:8px 12px;
    border-radius: 4px;
}

nav .nav-link:hover {
    background-color: rgb(57,67,83);
}

nav .hamburger {
   display:none; /* Se @media nav hamburger display block */
}

nav .hamburger-list-container .nav-link {
    display:block; /* lager "liste" av menu linker */
}

/* nav .hamburger-list-container {
    display:none; /* sikrer at hamburger ikke vises over 600px  } */

.hidden {
    display: none !important;
}

@media (max-width: 768px){
    nav h3 {
        display: none;
    }
}

@media (max-width:992px) {
    nav .hamburger {
        display:block; /* Viser hamburger. Se nav hamburger display none */
        background-color: transparent;
        border:none;
        color:rgb(255,255,255);
        font-size:30px;
    }
    .menu-container .nav-links {
        display: none;
    }

}